<ion-view view-title="{{vm.user.username}}">
    <ion-nav-buttons side="right">
        <user-notification></user-notification>
        <user-logout></user-logout>
    </ion-nav-buttons>
    <ion-header-bar class="bar bar-header bar-assertive">
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
        </ion-nav-buttons>
    </ion-header-bar>
    <ion-content has-subheader="false" delegate-handle="chatScroll">
        <div class="chat-content">
            <div class="chat-msg-items">
                <div class="chat-item" ng-repeat="message in vm.messages track by $index" ng-class="{true: 'me', false: 'you'}[message.sender_email == vm.currentUser.email ]">
                    <!-- <div class="time">11: 20</div> -->
                    <div ng-if="!message.sender_username">
                        <div class="nodatatxt">Welcome</div>
                    </div>
                    <div ng-if="message.sender_username">
                        <div class="user-info">
                            <div class="first-letter" ng-style="{'background-color': message.color_code}">{{message.sender_username.charAt(0)}}</div>
                        </div>
                        <div class="msg-panel">
                            <div class="msg-text">
                                {{ message.content }}
                            </div>
                            <div class="triangle-arrow"></div>
                            <div class="triangle-arrow2"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar keyboard-attach>
        <form name="chatForm">
            <div class="chat-input">
                <div class="input-area">
                    <input type="text" ng-model="vm.newMessage" placeholder="Type in your message...">
                    <button class="send-msg-btn button" ng-click="vm.sendMessage(vm.newMessage)"> Send </button>
                </div>
            </div>
        </form>
    </ion-footer-bar>
</ion-view>

<style>
    .nodatatxt {
        position: absolute;
        top: 2%;
        opacity: 0.45;
        font-size: 2.0em;
        width: 100%;
        text-align: center;
        z-index: 1000;
    }
    
    .profile_image {
        border-radius: 50%;
    }
    
    .first-letter {
        height: 35px;
        width: 35px;
        text-align: center;
        position: absolute;
        border-radius: 50%;
        padding: 8px;
        color: #fff;
    }
</style>