<ion-view view-title="My Friends">
    <ion-nav-buttons side="right">
        <user-notification></user-notification>
        <user-logout></user-logout>
    </ion-nav-buttons>
    <ion-content>
        <div class="row user-snip" ng-repeat="user in vm.users">
            <div class="col col-72" ng-click="vm.openProfile(user)">
                <div class="row">
                    <div class="col col-25">
                        <div class="first-letter" ng-style="{'background-color': user.color}">{{user.username.charAt(0)}}</div>
                    </div>
                    <div class="col col-75">
                        <span style="font-size: 20px;">{{user.username}}</span>
                    </div>
                </div>
            </div>
            <div class="col add col-28 align-right">
                <button type="button" ng-click="vm.remove(user)" class="button button-small button-assertive">Unfriend</button>
            </div>
        </div>
        <div class="nodatatxt" ng-if="vm.friendsId.length === 0">No friends found</div>
        <ion-refresher on-refresh="vm.refresh()"></ion-refresher>
    </ion-content>
</ion-view>

<style>
    .user-snip {
        width: 100%;
        display: inline-flex;
    }
    
    .user-snip .img>img {
        border-radius: 50%;
        border: 1px solid #292222;
    }
    
    .user-snip .name {
        margin-top: 10px;
    }
    
    .user-snip .add {
        margin-top: 5px;
    }
    
    .first-letter {
        height: 35px;
        width: 35px;
        text-align: center;
        position: absolute;
        border-radius: 50%;
        padding: 8px;
        color: #fff;
        margin: -5px;
    }
    
    .nodatatxt {
        position: absolute;
        top: 50%;
        opacity: 0.35;
        font-size: 1.7em;
        width: 100%;
        text-align: center;
        z-index: 1000;
    }
</style>