<ion-view view-title="Account">
    <ion-nav-buttons side="right">
        <user-notification></user-notification>
        <user-logout></user-logout>
    </ion-nav-buttons>
    <ion-content>
        <div id="profile-bg"></div>
        <div id="content">
            <div id="profile-info">
                <div id="profile-image" ng-style="{'background-color': vm.user.color_code}">
                    <span>{{vm.user.username.charAt(0)}}</span>
                </div>
                <div id="profile-name">{{vm.user.username}}</div>
            </div>
        </div>
        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Username</span>
                <input type="text" ng-model="vm.user.username"/>
            </label>

            <label class="item item-input item-stacked-label">
                <span class="input-label">Email</span>
                <input type="text" ng-model="vm.user.email" placeholder="" readonly/>
            </label>

            <label class="item item-input item-stacked-label">
                <span class="input-label">Bio</span>
                <textarea type="text" ng-model="vm.user.bio" row=5></textarea>
            </label>

            <div class="submit">
                <button class="button button-assertive">Update</button>
            </div>
        </div>
        <ion-refresher on-refresh="vm.refresh()"></ion-refresher>
    </ion-content>
</ion-view>

<style>
    .submit {
        margin-top: 20px;
        text-align: center;
    }
    
    #profile-bg {
        position: fixed;
        left: 0;
        z-index: 2;
        top: -100px;
        width: 100%;
        height: 250px;
        background: #ef473a;
        /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(#ef473a, #ffffff);
        /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(#ef473a, #ffffff);
        /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(#ef473a, #ffffff);
        /* For Firefox 3.6 to 15 */
        background: linear-gradient(#ef473a, #ffffff);
        /* Standard syntax */
    }
    
    #content {
        position: relative;
        margin-top: 100px;
        background-color: white;
        padding-top: 130px;
    }
    
    #profile-info {
        position: absolute;
        top: -95px;
        width: 100%;
        z-index: 2;
        text-align: center;
    }
    
    #profile-name {
        color: #e42112;
        padding: 20px;
        font-weight: 400;
        font-size: 35px;
    }
    
    #profile-description {
        color: #888;
    }
    
    #profile-description a {
        color: #888;
    }
    
    #profile-image {
        display: block;
        border-radius: 50%;
        width: 128px;
        height: 128px;
        margin: 30px auto 0;
        border: 2px solid #3eca39;
    }
    
    #profile-image span {
        font-size: 60px;
        position: absolute;
        left: 44%;
        top: 35%;
        color: #ffffff;
    }
    
    .list-item-content {
        padding: 5px;
    }
    
    .list-item {
        color: #666666;
    }
    
    .post {
        color: #444;
    }
    
    .post-time {
        position: absolute;
        right: 5px;
        top: 5px;
        font-size: 11px;
        color: #888;
    }
    
    .post-profile-image {
        display: inline-block;
        vertical-align: top;
        width: 48px;
        height: 48px;
        margin-right: 10px;
    }
    
    .post-options {
        position: absolute;
        font-size: 16px;
        right: 5px;
        bottom: 5px;
        color: #888;
    }
</style>