<ion-view view-title="Friends">
    <ion-nav-buttons side="right">
        <user-logout></user-logout>
    </ion-nav-buttons>
    <ion-content>
        <!-- ng-if="(user.id !== currentUser.id) && !(currentUser.friends.indexOf(user.id) > -1)" -->
        <div class="row user-snip" ng-repeat="user in vm.users">
            <div class="col img col-20"><img height="40" src="img/no_user.png"></div>
            <div class="col name col-55">
                <b>{{user.username}}</b>
            </div>
            <div class="col add col-25"><button type="button" ng-click="vm.addFriend(user)" class="button button-small button-assertive">Add Friend</button></div>
        </div>
        <div class="nodatatxt" ng-if="vm.users.length === 0">No user found</div>
        <ion-refresher on-refresh="vm.refresh()"></ion-refresher>
    </ion-content>
</ion-view>

<style>
    .user-snip {
        width: 100%;
        display: inline-flex;
    }
    
    .user-snip .img>img {
        border-radius: 50%;
        border: 1px solid #292222;
    }
    
    .user-snip .name {
        margin-top: 10px;
    }
    
    .user-snip .add {
        margin-top: 5px;
    }
    
    .nodatatxt {
        position: absolute;
        top: 50%;
        opacity: 0.35;
        font-size: 1.7em;
        width: 100%;
        text-align: center;
        z-index: 1000;
    }
</style>