<ion-view view-title="Friends">
    <ion-nav-buttons side="right">
        <user-notification></user-notification>
        <user-logout></user-logout>
    </ion-nav-buttons>
    <ion-content>
        <div class="row user-snip" ng-repeat="user in vm.users">
            <div class="col col-72" ng-click="vm.openProfile(user)">
                <div class="row">
                    <div class="col">
                        <div class="first-letter" style="background-color: #e42112">R</div>
                    </div>
                    <div class="col">
                        <span style="font-size: 18px; margin-left: -35px;"><b>{{user.username}}</b></span>
                    </div>
                </div>
            </div>
            <div class="col add col-28 align-right">
                <button type="button" ng-click="vm.invite(user)" class="button button-small button-assertive icon ion-plus" ng-disabled="!user.invite_status" ng-bind-html="!user.invite_status ? '&nbsp;Invitation send' : '&nbsp;Invite'"></button>
            </div>
        </div>
        <div class="nodatatxt" ng-if="vm.users.length === 0">No user found</div>
        <ion-refresher on-refresh="vm.refresh()"></ion-refresher>
    </ion-content>
</ion-view>

<style>
    .user-snip {
        width: 100%;
        display: inline-flex;
    }
    
    .user-snip .img>img {
        border-radius: 50%;
        border: 1px solid #e42112;
    }
    
    .user-snip .name {
        margin-top: 10px;
    }
    
    .user-snip .add {
        margin-top: 5px;
    }
    
    .nodatatxt {
        position: absolute;
        top: 50%;
        opacity: 0.35;
        font-size: 1.7em;
        width: 100%;
        text-align: center;
        z-index: 1000;
    }
    
    .first-letter {
        height: 35px;
        width: 35px;
        text-align: center;
        position: absolute;
        border-radius: 50%;
        padding: 8px;
        color: #fff;
        margin: -5px;
    }
    
    .invite {
        line-height: 0;
        text-align: center;
    }
    
    .align-center {
        text-align: center;
    }
    
    .align-left {
        text-align: left;
    }
    
    .align-right {
        text-align: right;
    }
</style>