<ion-view view-title="Account">
    <ion-nav-buttons side="right">
        <user-notification></user-notification>
        <user-logout></user-logout>
    </ion-nav-buttons>
    <ion-content scroll="false">
        <div id="profile-bg"></div>
        <div class="nextedTab tabs-striped tabs-top tabs-background-stable">
            <div class="tabs">
                <a class="tab-item" ng-class="{'select-tab': vm.show}" ng-click="vm.showContent(1)">Settings</a>
                <a class="tab-item" ng-class="{'select-tab': !vm.show}" ng-click="vm.showContent(2)">Activity</a>
            </div>
        </div>
        <div id="content">
            <div id="profile-info">
                <div id="profile-image" ng-style="{'background-color': vm.user.color_code}">
                    <div>{{vm.user.username.charAt(0)}}</div>
                </div>
                <!--<div id="profile-name">{{vm.user.username}}</div>-->
            </div>

            <div class="tab-content" scroll="true" ng-style="{ height: (vm.windowHeight) - 15 + 'px' }" ng-if="vm.show">
                <div class="list" ng-style="{ height: vm.windowHeight + 'px' }">
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Username</span>
                        <input type="text" ng-if="!vm.isMyAccount" ng-model="vm.user.username" readonly/>
                        <input type="text" ng-if="vm.isMyAccount" ng-model="vm.user.username"/>
                    </label>

                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Email</span>
                        <input type="text" ng-if="!vm.isMyAccount" ng-model="vm.user.email" placeholder="" readonly/>
                        <input type="text" ng-if="vm.isMyAccount"  ng-model="vm.user.email" placeholder=""/>
                    </label>

                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Bio</span>
                        <textarea type="text" ng-if="!vm.isMyAccount" ng-model="vm.user.bio" row=5 readonly></textarea>
                        <textarea type="text" ng-if="vm.isMyAccount" ng-model="vm.user.bio" row=5></textarea>
                    </label>

                    <div class="submit">
                        <button class="button button-assertive" ng-if="vm.isMyAccount" ng-click="vm.update(vm.user)">Update</button>
                    </div>
                </div>
            </div>
            <div class="tab-content nodatatxt" ng-style="{ height: vm.windowHeight }" ng-if="!vm.show">
                No activity found
            </div>
        </div>
    </ion-content>
</ion-view>

<style>
    .btn-update {
        margin-top: 30px !important;
        width: 93% !important;
        margin-left: 15px;
    }
    
    #profile-bg {
        position: fixed;
        left: 0;
        z-index: 2;
        top: -3px;
        width: 100%;
        height: 250px;
        background: #ef473a;
        /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(#ef473a, #ffffff);
        /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(#ef473a, #ffffff);
        /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(#ef473a, #ffffff);
        /* For Firefox 3.6 to 15 */
        background: linear-gradient(#ef473a, #ffffff);
        /* Standard syntax */
    }
    
    #content {
        position: relative;
        margin-top: 40%;
        background-color: white;
        padding-top: 70px;
    }
    
    #profile-info {
        position: absolute;
        top: -95px;
        width: 100%;
        z-index: 2;
        text-align: center;
    }
    
    #profile-name {
        color: #e42112;
        padding: 18px;
        font-weight: 400;
        font-size: 30px;
    }
    
    #profile-description {
        color: #888;
    }
    
    #profile-description a {
        color: #888;
    }
    
    #profile-image {
        display: block;
        border-radius: 50%;
        width: 128px;
        height: 128px;
        margin: 30px auto 0;
        border: 2px solid #3eca39;
    }
    
    #profile-image div {
        text-align: center;
        font-size: 70px;
        color: #fff;
        margin-top: 35%;
    }
    
    .list-item-content {
        padding: 5px;
    }
    
    .list-item {
        color: #666666;
    }
    
    .post {
        color: #444;
    }
    
    .post-time {
        position: absolute;
        right: 5px;
        top: 5px;
        font-size: 11px;
        color: #888;
    }
    
    .post-profile-image {
        display: inline-block;
        vertical-align: top;
        width: 48px;
        height: 48px;
        margin-right: 10px;
    }
    
    .post-options {
        position: absolute;
        font-size: 16px;
        right: 5px;
        bottom: 5px;
        color: #888;
    }
    
    .nextedTab .tabs {
        top: 0;
        color: #fff;
        background-color: #ef473a !important;
    }
    
    .tab-content {
        /*margin-top: 10%;
        padding: 10% 2%;*/
        overflow-y: scroll;
        overflow-x: hidden;
    }
    
    .tab-item {
        max-width: 100%;
    }
    
    .tabs-striped .tab-item.activated {
        border-color: #fff;
    }
    
    .list-item-content {
        padding: 5px;
    }
    
    .list-item {
        color: #666666;
    }
    
    .post {
        color: #444;
    }
    
    .post-time {
        position: absolute;
        right: 5px;
        top: 5px;
        font-size: 11px;
        color: #888;
    }
    
    .post-profile-image {
        display: inline-block;
        vertical-align: top;
        width: 48px;
        height: 48px;
        margin-right: 10px;
    }
    
    .post-options {
        position: absolute;
        font-size: 16px;
        right: 5px;
        bottom: 5px;
        color: #888;
    }
    
    .select-tab {
        color: #ffffff;
        opacity: 1;
        font-weight: 500;
        border-bottom: 2px solid #fff;
    }
    
    .submit {
        margin-top: 2%;
        text-align: center;
    }
    
    .nodatatxt {
        top: 100%;
        height: 100%;
    }
</style>