<!--<ion-tabs class="tabs-icon-top tabs-color-assertive tabs-color-active-assertive">-->
<ion-tabs class="tabs-icon-top">

    <!-- Rooms List Tab -->
    <ion-tab title="Add friends" icon-off="ion-ios-people-outline" icon-on="ion-ios-people" href="#/tab/users">
        <ion-nav-view name="tab-users"></ion-nav-view>
    </ion-tab>

    <!-- Current Selected Chats -->
    <ion-tab title="Friends" icon-off="ion-chatboxes" icon-on="ion-chatbox-working" href="#/tab/chats">
        <ion-nav-view name="tab-chats"></ion-nav-view>
    </ion-tab>

    <!-- Logout Button -->
    <ion-tab title="Accounts" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/accounts">
        <ion-nav-view name="tab-accounts"></ion-nav-view>
    </ion-tab>
</ion-tabs>

<style>
    .tabs {
        background-color: #ef473a;
    }
    
    .tabs-striped .tab {
        padding-top: 1px;
        border-bottom: 1px solid #000000;
    }
    
    .tab-item .icon {
        height: 28px;
    }
    
    .tabs-icon-top>.tabs .tab-item,
    .tabs-icon-top.tabs .tab-item,
    .tabs-icon-bottom>.tabs .tab-item,
    .tabs-icon-bottom.tabs .tab-item {
        color: #fff;
    }
    
    .tabs-striped .tab-item.tab-item-active,
    .tabs-striped .tab-item.active,
    .tabs-striped .tab-item.activated {
        margin-top: -1px;
        border-width: 0 0px 4px 0;
        border-color: #ffffff;
    }
</style>